$white: #fff;
$grey: #999;
$black: #000;
$blue: #4985FF;
$green: #0f0;
$beige: #E5E5E5;
$beige2: #F6F6F8;
$dark-grey: #323232;
$light-grey: #E0E0E0;
$violet: #5F12D0; //sass scss
$pink: #ff00f0;


$main-font: Arial, sans-serif;
$heading-font: 'Trebuchet MS', sans-serif;
/*------------------*/

$color-primary: $green;
$color-accent: $violet;
$main-dark-color: $black;
$main-light-color: $white;
$dark-color: $dark-grey;
$light-color: $beige;
$neutral-light-color: $beige2;
$neutral-color: $light-grey;
$neutral-dark-color: $grey;

/*------------------*/

$breakpoint-xxs: 320px; //вместо цифр в медиазапросах тоже могут быть переменные
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
